<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo à Mecânica</title>
</head>
<body>
    <div class="body">
        <div class="profile-header">
            <div class="logo">
                <i class="fa fa-car" aria-hidden="true"></i>
                Auto-Manutenção
            </div>
            <div class="navigation">
                <div class="button-item login-button btplus">
                        <button class="default-button plus">
                            <i class="fa fa-plus"></i>
                            Novo chamado
                        </button>
                </div>
                <div class="nav-buttons" ng-hide="loggedUser">
                    <div class="button-item login-button">
                        <button ng-click="login()" class="default-button">
                            <i class="fa fa-user"></i>
                            Entrar
                        </button>
                    </div>
                    <div class="button-item">
                        <button ng-click="cadastro()" class="default-button">
                            <i class="fa fa-user-plus"></i>
                            Registre-se
                        </button>
                    </div>
                </div>
                <div class="nav-user" ng-hide="!loggedUser">
                    <div class="button-item">
                        <button ng-click="meuPerfil()" class="default-button">
                            <i class="fa fa-user"></i>
                            Meu Perfil
                        </button>
                    </div>
                    <div class="button-item">
                        <button ng-click="logout()" class="default-button">
                            <i class="fa fa-sign-out" ng-click=""></i>
                            Sair
                        </button>
                    </div>
                </div>
            </div>
        </div>
            <div class="carousel">
                <div class="carousel__item carousel__item--visible">
                    <img src="assets/images/img.jpg" />
                </div>
                <div class="carousel__item">
                    <img src="assets/images/img.jpg" />
                </div>
                <div class="carousel__item">
                    <img src="assets/images/img.jpg" />
                </div>

                <div class="carousel__actions">
                    <button id="carousel__button--prev" aria-label="Previous slide"><</button>
                    <button id="carousel__button--next" aria-label="Next slide">></button>
                </div>
            </div>
            <script src="js/carousel.js"></script>
            <footer>
                <h1>Endereço, 67 • São José dos Campos - São Paulo • CEP: 12323-323<br>
                <a href="mailto:hege@example.com">email@example.com</a></h1>
            </footer>
    </div>
</body>
</html>