
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Faça seu login</title>
    </head>

    <body>
        <div class="login_body">
            <div class="login_container">
                <div class="car-icon">
                    <i class="fa fa-car fa-5x " aria-hidden="true"></i>
                </div>
                <div class="login_form">
                    <div class="login_item">
                        <h2 for="" class="padding">E-mail ou CPF</h2>
                        <input required type="email" name="email" ng-model="email" pattern="[^ @]*@[^ @]*" placeholder="Insira seu email cadastrado">
                    </div>
                    <div class="login_item">
                        <div class="remember">
                            <h2 for="" class="padding">Senha</h2>
                            <a href="">Esqueci minha senha</a>
                        </div>
                        <input required type="password" placeholder="Insira sua senha cadastrada" name="senha" ng-model="senha">
                    </div>
                    <div class="login_item">
                        <button class="primary-button" ng-click="login()" type="submit">Entrar</button>
                    </div>
                   
                </div>

                <div class="login_footer">
                    <h3>Não tem uma conta?</h3>
                    <a href="" ng-click="cadastro()">Registre-se</a>
                </div>

            </div>
        </div>
    </body>

</html>