</html><html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu perfil</title>
</head>
<body>
    <div class="body">
        <div class="profile-header">
            <div class="logo" ng-click="home()">
                <i class="fa fa-car"></i>
                Auto-Manutenção
            </div>
            <div class="navigation">
                <div class="nav-buttons" ng-hide="loggedUser">
                </div>
                <div class="button-item login-button btplus">
                    <button class="default-button plus">
                        <i class="fa fa-plus"></i>
                        Novo chamado
                    </button>
                </div>
                <div class="button-item login-button btplus">
                    <button class="default-button plus">
                        <i class="fa fa-plus"></i>
                        Cadastrar novo veículo
                    </button>
                </div>
                <div class="nav-user">
                    <div class="button-item">
                        <button ng-click="logout()" class="default-button">
                            <i class="fa fa-sign-out" ng-click=""></i>
                            Sair
                        </button>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="profile-content">

            <div class="menu">
                <ul>
                    <li class="list-item" ng-repeat="item in menu"><a href="#{{item.link}}">{{item.text}}</a></li>
                </ul>   
            </div>
            
            <div class="profile-container">
                <div class="profile-content">
                    <div class="meu-perfil perfil-item" id="meu-perfil">
                        <div class="user-info image-container">
                            <i class="fa fa-user fa-5x"></i>
                        </div>
                        <div class="user-info data-container">
                            <div class="user-detail">
                                <h1>
                                    {{ user.username }}
                                </h1>
                            </div>
                            <div class="user-detail">
                                <i class="fa fa-calendar"></i>
                                <span>Membro desde: {{ user.created }}</span>
                            </div>
                            <div class="user-detail">
                                <i class="fa fa-info-circle"></i>
                                <span>Última visita: {{ user.lastAccess }}</span>
                            </div>
                            
                            <div class="user-detail">
                                <i class="fa fa-id-card-o"></i>
                                <span>CPF: {{ user.cpf }}</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="meus-chamados perfil-item" style="display: none;" id="meus-chamados">
                        <h1>Meus chamados</h1>
                    </div>
                    
                    <div class="meus-veiculos perfil-item" style="display: none;" id="meus-veiculos">
                        <h1>Meus veículos</h1>
                    </div>
                </div>

                <script>
                $(document).ready(function(){
                    $("a").click(function(event) {
                        event.preventDefault();
                        var href = $(this).attr('href');
                        console.log(href)
                        $('#meu-perfil, #meus-chamados, #meus-veiculos').hide();
                        $(href).show();
                    });

                });
                </script>
            </div>
        </div>
    </div>
</body>
</html>