</html><html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu perfil</title>
</head>
<body>
    <div class="body">
        <div class="profile-header">
            <div class="logo" ng-click="home()">
                <i class="fa fa-car"></i>
                Auto-Manutenção
            </div>
            <div class="navigation">
                <div class="nav-buttons" ng-hide="loggedUser">
                </div>
                <div class="button-item login-button btplus">
                    <button id="chamadoBtn" class="default-button plus">
                        <i class="fa fa-plus"></i>
                        Novo chamado
                    </button>
                </div>
                <div class="button-item login-button btplus">
                    <button id="veiculoBtn" class="default-button plus">
                        <i class="fa fa-plus"></i>
                        Cadastrar novo veículo
                    </button>
                </div>
                <div class="nav-user">
                    <div class="button-item">
                        <button ng-click="logout()" class="default-button">
                            <i class="fa fa-sign-out" ng-click=""></i>
                            Sair
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="veiculoModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <header>
                    <p>Cadastrar novo veículo</p>
                    <span class="close" id="closeVeiculo">&times;</span>
                </header>

                <div style="padding: 16px;height: 90%;">
                    <form class="modal-form" onsubmit="event.preventDefault()">
                        <label class="label-item" for="">Modelo</label>
                        <input class="form-item" type="text" ng-model="veiculoData.modelo" required placeholder="Modelo do veículo">
                        <label class="label-item" for="">Marca</label>
                        <input class="form-item" type="text" ng-model="veiculoData.marca" required placeholder="Marca do veículo">
                        <label class="label-item" for="">Placa</label>
                        <input class="form-item" type="text" ng-model="veiculoData.placa" required placeholder="Placa do veículo">
                        <label class="label-item" for="">Cor</label>
                        <input class="form-item" type="text" ng-model="veiculoData.cor" required placeholder="Cor do veículo">
                        <label class="label-item" for="">Ano</label>
                        <select id="ano" ng-model="veiculoData.ano" class="select-item" required name="Ano">
                            <option value="0">Ano</option>
                            <option value="1990">1990</option>
                            <option value="1991">1991</option>
                            <option value="1992">1992</option>
                            <option value="1993">1993</option>
                            <option value="1994">1994</option>
                            <option value="1995">1995</option>
                            <option value="1996">1996</option>
                            <option value="1997">1997</option>
                            <option value="1998">1998</option>
                            <option value="1999">1999</option>
                            <option value="2000">2000</option>
                            <option value="2001">2001</option>
                            <option value="2002">2002</option>
                            <option value="2003">2003</option>
                            <option value="2004">2004</option>
                            <option value="2005">2005</option>
                            <option value="2006">2006</option>
                            <option value="2007">2007</option>
                            <option value="2008">2008</option>
                            <option value="2009">2009</option>
                            <option value="2010">2010</option>
                            <option value="2011">2011</option>
                            <option value="2012">2012</option>
                            <option value="2013">2013</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                        </select>
                        <button class="default-button plus form-item" type="submit" ng-click="cadastrarVeiculo()">Cadastrar</button>
                    </form>
                </div>
            </div>
        </div>
    
        <div id="chamadoModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <header>
                    <p>Novo chamado</p>
                    <span class="close" id="closeChamado">&times;</span>
                </header>

                <div style="padding: 16px;height: 90%;">
                    <form action="" class="modal-form" onsubmit="event.preventDefault()">
                        <label class="label-item">Tipo</label>
                        <input class="form-item" required type="text" placeholder="Insira o tipo da manutenção" name="tipo" ng-model="registerData.tipo" >
                        
                        <label class="label-item">Veículo</label>
                        <select class="select-item" ng-model="registerData.carro" ng-options="car.modelo for car in loadedVeiculos" name="cars" id="cars">
                        </select

                        <label class="label-item">Valor</label>
                        <input class="form-item" required type="text" placeholder="Insira o valor da manutenção" name="valor" ng-model="registerData.valor" >

                        <label for="" class="label-item">Descrição</label>
                        <input class="form-item" required type="text" name="descricao" placeholder="Insira a descricao do serviço" ng-model="registerData.descricao" cols="40" rows="5">

                        <button class="default-button plus form-item" ng-click = "cadastrarManutencao()" name= "createChamado" type="submit">Pronto</button> 
                    </form>
                </div>
            </div>

            <div class="register_footer">
                <h3>Já tem uma conta?</h3>
                <a href="" ng-click="login()">Entrar</a>
            </div>

     
        </div>

        <div class="profile-content">

            <div class="menu">
                <ul>
                    <li class="list-item" ng-repeat="item in menu"><a href="#{{item.link}}">{{item.text}}</a></li>
                </ul>   
            </div>
            
            <div class="profile-container">
                <div class="profile-content">
                    <div class="meu-perfil perfil-item" id="meu-perfil">
                        <div class="user-info image-container">
                            <i class="fa fa-user fa-5x"></i>
                        </div>

                        <div id="editUserModal" class="modal">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <header>
                                    <p>Editar chamado</p>
                                    <span id="closeUserModal" class="close">&times;</span>
                                </header>
                                <div style="padding: 16px;height: 90%;">
                                    <form action="" class="modal-form" onsubmit="event.preventDefault()">
                                        <label class="label-item">Email</label>
                                        <input class="form-item" required type="email" placeholder="{{user.email}}" name="tipo" ng-model="pendingUserToEdit.email" >
                                        
                                        <label class="label-item">Nome</label>
                                        <input class="form-item" required type="text" placeholder="{{user.username}}" name="valor" ng-model="pendingUserToEdit.nome" >

                                        <label for="" class="label-item">CPF</label>
                                        <input class="form-item" required type="text" name="descricao" placeholder="{{user.cpf}}" ng-model="pendingUserToEdit.cpf" cols="40" rows="5">
                
                                        <button class="default-button plus form-item" ng-click = "editarUsuario(user, pendingUserToEdit)" type="submit">Pronto</button> 
                                    </form>
                                </div>
                            </div>

                        </div>

                        <div class="manage">
                            <div class="alter-icon manage-menu-item" ng-click="loadEditUserModal()">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <div class="delete-icon manage-menu-item" ng-click="deleteUser(user)">
                                <i class="fa fa-trash"></i>
                            </div>
                        </div>
                        <div class="user-info data-container">
                            <div class="user-detail">
                                <h1>
                                    {{ user.username }}
                                </h1>
                            </div>
                            <div class="user-detail">
                                <i class="fa fa-calendar"></i>
                                <span>Membro desde: {{ user.created }}</span>
                            </div>
                            <div class="user-detail">
                                <i class="fa fa-info-circle"></i>
                                <span>Última visita: {{ user.lastAccess }}</span>
                            </div>
                            
                            <div class="user-detail">
                                <i class="fa fa-id-card-o"></i>
                                <span>CPF: {{ user.cpf }}</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="meus-chamados perfil-item" style="display: none;" id="meus-chamados">
                        <h1 style="text-align: center;">Meus chamados</h1>
                        <div class="manut-info data-container" ng-repeat="manut in loadedManut">
                            <div class="manage">

                                <!-- The Modal -->
                                <div id="editManutModal" class="modal">

                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <header>
                                            <p>Editar chamado</p>
                                            <span id="closeManutModal" class="close">&times;</span>
                                        </header>
                                        <div style="padding: 16px;height: 90%;">
                                            <form action="" class="modal-form" onsubmit="event.preventDefault()">
                                                <label class="label-item">Tipo</label>
                                                <input class="form-item" required type="text" placeholder="{{actualOpenedManut.tipo}}" name="tipo" ng-model="pendingManutToEdit.tipo" >
                                                
                                                <label class="label-item">Valor</label>
                                                <input class="form-item" required type="text" placeholder="{{actualOpenedManut.valor}}" name="valor" ng-model="pendingManutToEdit.valor" >

                                                <label for="" class="label-item">Descrição</label>
                                                <input class="form-item" required type="text" name="descricao" placeholder="{{actualOpenedManut.descricao}}" ng-model="pendingManutToEdit.descricao" cols="40" rows="5">
                        
                                                <button class="default-button plus form-item" ng-click = "editarManutencao(actualOpenedManut, pendingManutToEdit)" name= "editChamado" type="submit">Pronto</button> 
                                            </form>
                                        </div>
                                    </div>

                                </div>

                                <div class="alter-icon manage-menu-item" ng-click="loadEditManutModal(manut)">
                                    <i class="fa fa-pencil"></i>
                                </div>
                                <div class="delete-icon manage-menu-item" ng-click="deleteManut(manut)">
                                    <i class="fa fa-trash"></i>
                                </div>
                            </div>
                            <div class="repeat-manut">
                                <div class="user-detail">
                                    <h1>
                                        {{ manut.tipo }}
                                    </h1>
                                </div>
                                <div class="user-detail">
                                    <i class="fa fa-money"></i>
                                    <span>{{ manut.valor }}</span>
                                </div>
                                <div class="user-detail">
                                    <i class="fa fa-table"></i>
                                    <span>{{ manut.descricao }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="meus-veiculos perfil-item" style="display: none;" id="meus-veiculos">
                        <h1 style="text-align: center;">Meus veículos</h1>
                        <div class="car-info data-container" ng-repeat="veiculo in loadedVeiculos">
                            <div class="manage">
                                
                                <div id="editCarModal" class="modal">

                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <header>
                                            <p>Editar veículo</p>
                                            <span id="closeCarModal" class="close">&times;</span>
                                        </header>
                                        <div style="padding: 16px;height: 90%;">
                                            <form class="modal-form" onsubmit="event.preventDefault()">
                                                <label class="label-item" for="">Modelo</label>
                                                <input class="form-item" type="text" ng-model="pendingCarToEdit.modelo" required placeholder="{{actualOpenedCar.modelo}}">
                                                <label class="label-item" for="">Marca</label>
                                                <input class="form-item" type="text" ng-model="pendingCarToEdit.marca" required placeholder="{{actualOpenedCar.marca}}">
                                                <label class="label-item" for="">Placa</label>
                                                <input class="form-item" type="text" ng-model="pendingCarToEdit.placa" required placeholder="{{actualOpenedCar.placa}}">
                                                <label class="label-item" for="">Cor</label>
                                                <input class="form-item" type="text" ng-model="pendingCarToEdit.cor" required placeholder="{{actualOpenedCar.cor}}">
                                                <label class="label-item" for="">Ano</label>
                                                <select id="ano" ng-model="pendingCarToEdit.ano" class="select-item" required name="Ano">
                                                    <option value="0">Ano</option>
                                                    <option value="1991">1991</option>
                                                    <option value="1992">1992</option>
                                                    <option value="1993">1993</option>
                                                    <option value="1994">1994</option>
                                                    <option value="1995">1995</option>
                                                    <option value="1996">1996</option>
                                                    <option value="1997">1997</option>
                                                    <option value="1998">1998</option>
                                                    <option value="1999">1999</option>
                                                    <option value="2000">2000</option>
                                                    <option value="2001">2001</option>
                                                    <option value="2002">2002</option>
                                                    <option value="2003">2003</option>
                                                    <option value="2004">2004</option>
                                                    <option value="2005">2005</option>
                                                    <option value="2006">2006</option>
                                                    <option value="2007">2007</option>
                                                    <option value="2008">2008</option>
                                                    <option value="2009">2009</option>
                                                    <option value="2010">2010</option>
                                                    <option value="2011">2011</option>
                                                    <option value="2012">2012</option>
                                                    <option value="2013">2013</option>
                                                    <option value="2014">2014</option>
                                                    <option value="2015">2015</option>
                                                    <option value="2016">2016</option>
                                                    <option value="2017">2017</option>
                                                    <option value="2018">2018</option>
                                                    <option value="2019">2019</option>
                                                    <option value="2020">2020</option>
                                                    <option value="2021">2021</option>
                                                </select>
                                                <button class="default-button plus form-item" ng-click = "editarVeiculo(actualOpenedCar, pendingCarToEdit)" name= "editCar" type="submit">Pronto</button>
                                            </form>
                                        </div>
                                    </div>

                                </div>

                                <div class="alter-icon manage-menu-item" ng-click="loadEditCarModal(veiculo)">
                                    <i class="fa fa-pencil"></i>
                                </div>
                                <div class="delete-icon manage-menu-item" ng-click="deleteVeiculo(veiculo)">
                                    <i class="fa fa-trash"></i>
                                </div>
                            </div>
                            <div class="repeat-car">
                                <div class="user-detail">
                                    <h1>
                                        {{ veiculo.modelo }}
                                    </h1>
                                </div>
                                <div class="user-detail">
                                    <i class="fa fa-car"></i>
                                    <span>{{ veiculo.marca }}</span>
                                    <span>{{ veiculo.placa }}</span>
                                </div>
                                <div class="user-detail">
                                    <i class="fa fa-cogs"></i>
                                    <span>{{ veiculo.cor }}</span>
                                    <span>{{ veiculo.ano }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script>
                $(document).ready(function(){
                    $("a").click(function(event) {
                        event.preventDefault();
                        var href = $(this).attr('href');
                        console.log(href)
                        $('#meu-perfil, #meus-chamados, #meus-veiculos').hide();
                        $(href).show();
                    });

                });
                </script>
            </div>
        </div>
    </div>
</body>
</html>