<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastre-se no Fórum</title>
    </head>

    <body>
        <div class="register_body">     
            <div class="register_container">
                <div class="car-icon">
                    <i class="fa fa-car fa-5x " aria-hidden="true"></i>     
                </div>

                <div class="register_form">

                    <div class="register_item">
                        <h2 class="padding">Nome de Exibição</h2>
                        <input required type="text" placeholder="Insira seu nome de usuario" name="nome" ng-model="registerData.nome" >
                    </div>
                    <div class="register_item">
                        <h2 class="padding">CPF</h2>
                        <input required type="text" placeholder="Insira seu CPF" name="cpf" ng-model="registerData.cpf" >
                    </div>
                    <div class="register_item">
                        <h2 for="" class="padding">E-mail</h2>
                        <input required type="email" name="email" pattern="[^ @]*@[^ @]*" placeholder="Insira seu email" ng-model="registerData.email">
                    </div>
                    <div class="register_item">
                        <h2 for="" class="padding">Senha</h2>
                        <input required type="password" placeholder="Insira sua senha" name="senha" ng-model="registerData.senha"> 
                    </div>
                    <div class="register_item">
                        <button class="primary-button" ng-click = "register()" name= "register" type="submit">Cadastre-se</button> 
                    </div>  
                </div>

                <div class="register_footer">
                    <h3>Já tem uma conta?</h3>
                    <a href="" ng-click="login()">Entrar</a>
                </div>

            </div>
        </div>
    </body>

</html>