html{
    height: 95vh;
    width: 100vw;
}

body {
    background-color: #f5f5f5;
    color: #2c2c2c;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#ng-view { 
    height: 100%;
    width: 100%;
}

input {
    height: 24px;
    padding: 8px 16px;
    font-size: 14px;
    line-height: 18px;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}

input:focus {
    border: none;
    outline: none;
}

h1 {
    font-weight: 700;
    font-size: 18px;
    color: #2c2c2cb5;
}

h2 {
    font-weight: 600;
    font-size: 16px;
}

h3 {
    font-weight: 500;
    font-size: 14px;
}

h4 {
    font-weight: 600;
    font-size: 28px;
}

a {
    text-decoration: none;
    color: #140FF2;
}

a:hover {
    color: #3b3b4f;
}

.primary-button{
    box-shadow: 0px 1px 0px 0px #f0f7fa;
	background: linear-gradient(to bottom, #781AEF 5%, #781AEF 100%);
	background-color: #781AEF;
    border-radius: 5px;
    border: none;
	border: 1px solid #781AEF;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 16px;
	padding: 8px 10px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
    width: 100%;
    height: 40px;
}

.default-button{
    box-shadow: 0px 1px 0px 0px #f0f7fa;
	background: linear-gradient(to bottom, #fff 5%, #fff 100%);
	background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
	display: inline-block;
	cursor: pointer;
	color: #00000000;
	font-size: 16px;
	padding: 8px 10px;
    text-decoration: none;
    outline: none;
    text-shadow: 0px -1px 0px #5b6178;
    width: 100%;
    height: 44px;
}

button i {
    margin: 0 4px;
}

.primary-button:hover {
    background:linear-gradient(to bottom, #42068f 5%, #42068f 100%);
	background-color:#824ec5;
}


button:active {
	position:relative;
	top:1px;
}
