.profile-header {
    display: flex;
    min-height: 10%;
    padding: 18px 0;
    box-sizing: border-box;
    border-bottom: solid;
    border-bottom-color: #3C6E71;
}

.profile-content {
    background-color: #DFDFDF;
    display: flex;
    height: 90%;
}