.profile-header {
    display: flex;
    min-height: 10%;
    padding: 18px 0;
    box-sizing: border-box;
    border-bottom: solid;
    border-bottom-color: #3C6E71;
}

.profile-content {
    background-color: #DFDFDF;
    display: flex;
    height: 90%;
}

.menu {
    width: 20%;
    background-color: #284B63;
}

.list-item {
    padding: 24px;
    background-color: #353535;
    box-shadow: inset 0 0 2px #000000;
    text-align: center;
}

.list-item a {
    text-decoration: none;
    color: #fff;
}

.profile-container {
    width: 80%;
    padding: 100px 100px;
}

.profile-content {
    width: 100%;
}

.perfil-item {
    width: 100%;
}

.data-container {
    width: 70%;
}

.image-container {
    width: 30%;
    text-align: center;
}

.user-detail {
    margin-bottom: 16px;
}

.manut-info {
    margin: 44px 0;
    display: flex;
}

.car-info {
    margin: 44px 0;
    display: flex;
}

.meu-perfil {
    display: flex;
}

.manage {
    margin: 0 24px;
    display: flex;
}

.manage-menu-item {
    margin: 0 8px;
}